.advantages {
    max-width: 992px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    border-right: 1px solid rgba(29, 37, 45, 0.3);
    border-left: 1px solid rgba(29, 37, 45, 0.3);
}

.advantages__item {
    padding: 0 65px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.advantages__number {
    font-weight: 200;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    margin: 0 0 10px;
}

.advantages__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.advantages__item--accent {
    background-color: #F2F3EE;
    border-radius: 0 60px;
}